/*
 * Global Styles
 */
body {
  background: #000000;
  font-family: "Lato";
  margin: 0px;
  width: 960px;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: #F57F1D;
}

.primary-color-family {
  color: #F57F1D;
}

/*
 * Header Component
 */
header {
  background: #333;
  margin: 0px auto;
  padding: 0px;
  color: #FFF;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
}

header .logo {
  padding-left: 20px;
  margin: 0px;
}

header .logo_five {
  color: #F57F1D;
  font-size: 50px;
  align-items: center;
  justify-content: left;
  vertical-align: middle;
  font-weight: bold;
  padding-left: 5px;
}

@media (max-width: 768px) {
  body {
    width: 748px;
  }
  header {
    height: 50px;
  }
  header .logo {
    font-size: 1em;
  }
  header .logo_five {
    font-size: 30px;
  }
}

@media (max-width: 576px;) { 
  body {
    width: 556px;
  }
  header {
    height: 80px;
  }
  header .logo {
    font-size: 1.5em;
  }
  header .logo_five {
    font-size: 45px;
  }
 }


/*
 * Navigation Component
 */
nav#menu {
  color: #FFF;
  background:#666;
}

nav#menu ul {
  list-style: none;
  display: inline-flex;
  padding: 0px;
  margin: 0px;
  line-height: 50px;
}

nav#menu ul li {
  padding: 0px 15px;
  border-right: 1px solid #333;
}

nav#menu a {
  color: #ffffff;
}

@media (max-width: 576px;) { 
  nav#menu ul {
    line-height: 80px;
  }
  nav#menu ul li {
    padding: 0px 30px;
    border-right: 1px solid #333;
  }
 }


/*
 * Content Component
 */
content {
  padding: 0px 20px;
  background: #fff;
  width: 65%;
  display: inline-block;
  float: left;
}

.main_content {
  border-bottom: 1px solid grey;
  padding-top: 30px;
  padding-bottom: 30px;
}

content .thumbnail {
  height: 120px;
  width: 120px;
  background: #ddd;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  float: left;
}

article {
  padding-left: 10px;
  display: block;
  overflow: hidden;
}

article h1 {
  margin-top: 0px;
}

@media (max-width: 576px;) { 
  content {
    width: unset;
  }
  content .thumbnail {
    float: unset;
    text-align: center;
    margin: 0px auto;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
  }
 }

/*
 * Aside Component
 */
aside {
  color: #000;
  background: #eee;
  display: inline-block;
  width: 30%;
  padding-left: 8px;
  position: absolute;
  height: 100%;
}

.sidebar {
  padding-top:20px;
  padding-bottom: 10px;
  margin-right: 20px;
  border-bottom: 1px solid grey;
}

aside ul {
  list-style: none;
  padding-left: 10px;
  line-height: 2em;
}

@media (max-width: 768px) {
  aside {
    padding: 10px;
    width: unset;
  }
}

@media (max-width: 576px;) {
  aside {
    display: none;
  }
 }

footer {
  background: #666;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.container {
  overflow: hidden;
  position: relative;
}